html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-container img {
    width: 500px;
    height: auto;
}
.header-menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}
.content-container {
    display: flex;
    padding: 80px;
    justify-content: center;
    background-color: #1F2937;
}
.header-menu h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500px;
    margin: 0;
    padding: 0;

}
.header-menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.header-menu a, .content-text p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content-text {
    margin-right: 50px;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.content-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.sign-up-button{
    padding: 10px 20px 10px;
    border-radius: 10px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
}

.footer {
    margin-top: auto;
    padding: 8px;
    background-color: #1F2937;
}

.footer p {
    text-align: center;
    color: #E5E7EB;
}
 
/*section 2*/

.content-content-container h2 {
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 20px;
    text-align: center;
}
.column-outside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 52px;
}
.column-container {
    max-width: 200px;
}
.column-container img {
    border-radius: 25%;
    width: 200px;
    height: 200px;
}
.column-container p {
    text-align: center;
}
/*section 3 */
.quotes-container {
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
#actual-quote{
    display: flex;
    font-size: 36px;
    color: #1F2937;
    text-align: left;
}
.quote {
    width: 825px;
}
.quotes-container #author {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
/*section 4*/
.button-outsider-container {
    padding: 160px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.big-button-container{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px 125px 50px;
}
.text {
    display: flex;
    width: 520px;
    flex-wrap: wrap;
    margin-right: 100px;
}
.call-to-action{
    font-size: 24px; 
    color: #F9FAF8;
    font-weight: bold;
}
.signal-to-button {
    font-size: 18px;
    color: #F9FAF8;
}
#end-button{
    border: #E5E7EB solid;
    flex-shrink: 0;
}