@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-container img {
    width: 500px;
    height: auto;
}
.header-menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}
.content-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: #1F2937;
}
.header-menu h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500px;
    margin: 0;
    padding: 0;
}
.header-menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.header-menu a, .content-text p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content-text {
    margin-right: 20px;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.content-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.sign-up-button{
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #3882F6;
}

.footer {
    margin-top: auto;
    padding: 8px;
    background-color: #1F2937;
}

.footer p {
    text-align: center;
    color: #E5E7EB;
}